.container {
    padding: 0 150px;
    background: #fff;
    padding-top: 55px;
}
.title {
    color: #0f3352;
    font-size: 2.57rem;
    line-height: 1.28;
    margin-bottom: 17px;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 34px 0 rgba(0, 0, 0, 0.1);
    padding: 28px 24px 0px 24px;
    background-color: #ffffff;
    padding-bottom: 25px;
}
.text {
    max-width: 540px;
    margin: 0 0 25px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #0f3352;
}
.button {
    width: 180px;
    height: 38px;
    background-color: #0a71bb;
    color: #fff;
}
.image {
    margin-left: auto;
    width: 400px;
    height: 100%;
    margin-top: -180px;
}
.butTextContainer {
    display: flex;
}
@media (max-width: 1280px) {
    .container {
        padding: 0 30px;
        padding-top: 55px;
    }
    .image {
        margin-left: auto;
    }
    .button {
        margin-right: auto;
    }
}
@media (max-width: 1044px) {
    .image {
        width: 300px;
        height: auto;
        margin-top: -20px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        margin-right: auto;
        margin-left: auto;
    }
}

.butTextContainer {
    flex-direction: column;
}

@media (max-width: 520px) {
    .image {
        width: 100%;
        height: auto;
    }
    .button {
        margin: 0 auto;
    }
    .title {
        font-size: 2rem;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 520px) {
    .image {
        width: 180px;
    }
}
