.container {
    padding: 0 150px;
    padding-top: 50px;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.title {
    color: #0f3352;
    font-size: 2.57rem;
    line-height: 1.28;
}
.headerText {
    color: #0a71bb;
    font-size: 1rem;
    font-weight: bold;
}
.nextIcon {
    width: 15px;
    height: 15px;
    margin-left: 8px;
}
.list {
    list-style: none;
    display: flex;
}
.listItem {
    margin-right: 15px;
    width: calc((100% - 15px * 3) / 4);
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 34px 0 rgba(0, 0, 0, 0.1);
}
.listItem:last-child {
    margin-right: 0;
}
.itemBackground {
    height: 224px;
    background-image: linear-gradient(to bottom, #ffffff 29%, #d9ebf8 98%);
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}
.giftImage {
    margin: auto;
}
.firstImage {
    width: 125px;
    margin: auto;
    margin-bottom: -26px;
    max-height: 100%;
    max-width: 100%;
}
.secondImage {
    height: 227px;
    width: 148px;
    margin: auto;
    margin-bottom: -26px;
}
.thirdImage {
    height: 140px;
    width: 165px;
    margin: auto;
    margin-bottom: -26px;
}
.fourthImage {
    width: 145px;
    height: 227px;
    margin: auto;
    margin-bottom: -26px;
}
.textContainer {
    padding: 0 24px;
}
.subTitle {
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.286rem;
    font-weight: bold;
}
.text {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 32px;
}

.button {
    border: 0;
    background: transparent;
    display: flex;
    margin-left: auto;
    align-items: center;
}
@media (max-width: 1250px) {
    .container {
        padding: 0 75px;
        padding-top: 50px;
    }
}
@media (max-width: 1090px) {
    .itemBackground {
        height: 170px;
    }
    .list {
        flex-wrap: wrap;
    }
    .listItem {
        margin-right: 15px;
        width: calc(50% - 15px / 2);
        margin-bottom: 15px;
    }
    .listItem:nth-child(even) {
        margin-right: 0;
    }
    .listItem:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}
@media (max-width: 550px) {
    .listItem {
        width: 100%;
        margin-right: 0;
    }
    .listItem:nth-last-child(2) {
        margin-bottom: 15px;
    }
}
@media (max-width: 520px) {
    .title {
        font-size: 2rem;
    }
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }
}
