.button {
    height: 38px;
    background-color: #0a71bb;
    color: #fff;
}

.outlined {
    border: 1px solid blue;
}
@media (max-width: 1024px) {
    .button {
        height: 40px;
    }
}
@media (max-width: 768px) {
    .button {
        width: 240px;
    }
}
@media (max-width: 360px) {
    .button {
        width: 180px;
    }
}
