.container {
    padding: 0 150px;
    margin-top: -30px;
    z-index: 1;
    position: relative;
}

.list {
    display: flex;
    list-style: none;
}
.listItem {
    background: #fff;
    width: calc((100% - 15px * 2) / 3);
    margin-right: 15px;
    padding: 25px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 34px 0 rgba(0, 0, 0, 0.1);
}
.listItem:last-child {
    margin-right: 0;
}
.title {
    color: black;
    font-size: 1.285rem;
    font-weight: normal;
    line-height: 1.28;
    margin-bottom: 25px;
}
.number {
    font-size: 2.57rem;
    margin-right: 10px;
}

.button {
    background: transparent;
    color: #0a71bb;
    border: 1px solid #0a71bb;
    width: 200px;
    height: 38px;
}
.list .listItem:last-of-type .button {
    color: #fff;
    background: #0a71bb;
    width: 200px;
    height: 38px;
}
@media (max-width: 1250px) {
    .container {
        padding: 0 75px;
        margin-top: -15px;
    }
    .button {
        max-width: 100%;
    }
    .listItem {
        padding: 25px;
    }
}
@media (max-width: 768px) {
    .list {
        flex-direction: column;
        align-items: center;
    }
    .listItem {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .listItem:last-of-type {
        margin-bottom: 0;
    }
}
@media (max-width: 520px) {
    .container {
        padding: 0 25px;
    }
}
