.main {
    width: 100%;
    padding-top: 192px;
    padding-left: 90px;
}
@media (max-width: 1000px) {
    .main {
        padding-top: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 52px;
    }
}
@media (max-width: 360px) {
    .main {
        padding: 0 16px;
    }
}
