.select {
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 16px 9px;
    color: #444;
    color: #0f3352;
    line-height: 1.71;
    width: 322px;
    height: 40px;
    border: solid 1px #8fa0ae;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('../../assets/down@3x.png');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    margin-bottom: 31px;
}
.select::-ms-expand {
    display: none;
}
.select:hover {
}
.select-css:focus {
    outline: none;
}
.select option {
    font-weight: normal;
}
*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
    background-position: left 0.7em top 20px, 0 0;
    padding: 0.6em 0.8em 0.5em 1.4em;
}
.option {
    border-top: 10px solid transparent;
}
.option:checked {
    color: green;
}
select:root {
    margin-bottom: 10px;
}
.option:checked::before {
    background-image: url('../../assets/check-mark-svgrepo-com.svg');
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-size: 10px 20px;
    display: inline-block;
}
option {
    position: absolute;
    top: 10px;
}
