.listItem {
    background: #fff;
    width: calc((100% - 15px * 2) / 3);
    margin-right: 15px;
    padding: 25px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 34px 0 rgba(0, 0, 0, 0.1);
}
.listItem:last-child {
    margin-right: 0;
}
.title {
    color: black;
    font-size: 1.285rem;
    font-weight: normal;
    line-height: 1.28;
    margin-bottom: 25px;
}
.number {
    font-size: 2.57rem;
    margin-right: 10px;
}

.button {
    background: transparent;
    color: #0a71bb;
    border: 1px solid #0a71bb;
    width: 200px;
    height: 38px;
}
@media (max-width: 1250px) {
    .button {
        max-width: 100%;
    }
    .listItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        width: 100%;
    }
    .title {
        font-size: 2rem;
    }
    .number {
        font-size: 3rem;
    }
    .button {
        font-size: 1.2rem;
    }
}
@media (max-width: 850px) {
    .title {
        font-size: 1.7rem;
    }
    .number {
        font-size: 2.6rem;
    }
    .listItem {
        padding: 15px;
    }
}
@media (max-width: 768px) {
    .listItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .listItem:last-of-type {
        margin-bottom: 0;
    }
    .title {
        font-size: 2rem;
    }
    .number {
        font-size: 3rem;
    }
    .listItem {
        padding: 25px;
    }
}
