.container {
    width: 100%;
    height: 80px;
    background: #0a71bb;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 150px;
}
.container::before {
    content: url('../../assets/info3x.png');
    position: absolute;
    left: 170px;
    overflow: hidden;
    top: 0;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.286rem;
    font-weight: bold;
    color: #fff;
    line-height: 28px;
    margin-left: 312px;
}

.first {
    width: 197px;
    height: 38px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 11px;
    margin-left: auto;
    font-family: Roboto;
    background: transparent;
}
.second {
    color: #fff;
    font-size: 11px;
    background: transparent;
    width: 140px;
}
.buttonsContainer {
    margin-left: auto;
}
@media (max-width: 1250px) {
    .container {
        padding-right: 50px;
    }
    .container::before {
        content: url('../../assets/info3x.png');
        position: absolute;
        left: 50px;
        overflow: hidden;
        top: 0;
    }
    .text {
        margin-left: 75px;
    }
}
@media (max-width: 1024px) {
    .first {
        width: 150px;
        margin-right: 10px;
    }
    .second {
        width: 150px;
    }
    .text {
        margin-left: 50px;
    }
}
@media (max-width: 768px) {
    .container::before {
        content: url('../../assets/info3x.png');
        position: absolute;
        left: 15px;
        overflow: hidden;
        top: 0;
    }
    .container {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
    }
    .first {
        width: 100px;
        font-size: 0.85rem;
    }
    .second {
        width: 100px;
        font-size: 0.85rem;
    }
    .text {
        margin-left: 0;
    }
}
@media (max-width: 520px) {
    .container {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
    }
    .text {
        width: 100%;
    }
    .buttonsContainer {
        margin-left: auto;
    }
    .first {
        max-width: 120px;
    }
    .second {
        max-width: 100px;
    }
}
