.container {
    width: 100%;
    height: 80px;
    background: #0a71bb;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 150px;
}
.container::before {
    content: url('../../assets/info3x.png');
    position: absolute;
    left: 170px;
    overflow: hidden;
    top: 0;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.286rem;
    font-weight: bold;
    color: #fff;
    line-height: 28px;
    margin-left: 312px;
}

.first {
    width: 197px;
    height: 38px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 11px;
    margin-left: auto;
    font-family: Roboto;
    background: transparent;
}
.second {
    color: #fff;
    font-size: 11px;
    background: transparent;
    width: 197px;
}
@media (max-width: 1250px) {
    .container {
        padding-right: 75px;
    }
    .container::before {
        content: url('../../assets/info3x.png');
        position: absolute;
        left: 75px;
        overflow: hidden;
        top: 0;
    }
    .text {
        margin-left: 240px;
    }
}
@media (max-width: 1024px) {
    .first {
        width: 150px;
    }
    .second {
        width: 150px;
    }
}
@media (max-width: 768px) {
    .container::before {
        content: '';
    }
    .container {
        padding-left: 25px;
        padding-right: 0;
    }
    .text {
        margin-left: 0;
    }
}
