.container {
    padding: 55px 150px;
}
.title {
    color: #0f3352;
    font-size: 2.57rem;
    line-height: 1.28;
    margin-bottom: 25px;
}
.contentContainer {
    padding: 28px 48px 36px 24px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 34px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
.formTitle {
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    color: #8fa0ae;
    margin-bottom: 8px;
}

.button {
    width: 180px;
    height: 38px;
    border: solid 1px #0a71bb;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    color: #0a71bb;
}
@media (max-width: 1250px) {
    .container {
        padding: 55px 75px;
    }
}
@media (max-width: 768px) {
    .button {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .container {
        padding: 55px 50px;
    }
}
