.container {
    width: 100%;
    height: 74px;
    padding: 20px 154px 20px 146px;
    background-color: #0a71bb;
    display: flex;
    align-items: center;
}
.allRules {
    font-weight: normal;
    font-size: 0.856rem;
    color: #ffffff;
    margin-right: 32px;
}

.link {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.856rem;
    font-weight: normal;
    color: #ffffff;
}

.icons {
    display: flex;
}
.logo {
    margin-left: auto;
    width: 133px;
    height: 34px;
}
@media (max-width: 1250px) {
    .container {
        padding: 15px 30px;
        flex-wrap: wrap;
    }
    .link {
        margin-left: auto;
        font-size: 1rem;
    }
    .allRules {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .container {
        height: auto;
    }
    .logo {
        margin-top: 25px;
    }
    .socials {
        margin-left: auto;
    }
    .link {
        width: 50%;
        margin-right: auto;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 520px) {
    .allRules {
        margin-right: 0;
    }
    .container {
        padding: 15px 15px;
    }
    // .socials {
    //     width: 100%;
    //     align-self: flex-end;
    // }
}
@media (max-width: 520px) {
    .allRules {
        font-size: 0.85rem;
    }
}
