.icon {
    width: 30px;
    height: 30px;
}
.link {
    margin-right: 16px;
}
.link:last-of-type {
    margin-right: 0;
}
.privacyPolicy {
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
}
.socials {
    display: flex;
}
.logo {
    margin-left: auto;
    width: 133px;
    height: 34px;
}
@media (max-width: 768px) {
    .icon {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 520px) {
    .icon {
        width: 20px;
        height: 20px;
    }
    .link {
        margin-right: 5px;
    }
}
