.icon {
    width: 30px;
    height: 30px;
}
.link {
    margin-right: 16px;
}

.privacyPolicy {
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
}
.socials {
    display: flex;
}
.logo {
    margin-left: auto;
    width: 133px;
    height: 34px;
}
